include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod4-1
				
				div.banner-video.wow.fadeInUp
					div.span12
						div#video
							div.embed-container
								iframe(src="#" frameborder="0" allowfullscreen)
				
				
				h3 ¿CÓMO NO HACER DAÑO?
				
				h4 “…Debemos evitar la pretensión del conocimiento y aceptar nuestra ignorancia. Sobre estimar nuestro conocimiento puede de tener consecuencias fatales, literalmente” Alejando Gaviria. Ex ministro de salud y protección social  
								
				h2 Autora:
				
				p Dra. Catalina Ascanio Noreña.
					| Médica especialista en medicina familiar. Magíster en Protección Social. 
					| Profesora auxiliar. Facultad de Medicina Universidad Nacional de Colombia.
					
				h2 Revisado por:
				
				p Carlos Andrés Celis Preciado.
					| Unidad de Neumología, Departamento de Medicina Interna.
					| Hospital Universitario San Ignacio.
					
				h3 Objetivo
				
				p Identificar los posibles riesgos de sobre medicalización o sobre intervención médica a pacientes con sospecha o diagnóstico de asma.
				
				h3 Introducción
				
				p El concepto de prevención cuaternaria fue introducido por el doctor Marc Jamoulle, médico familiar Belga, en 1986 y hace referencia al “el conjunto de acciones implementadas para identificar a una persona o a una población en riesgo de sobre medicalización, protegerlos de intervenciones médicas invasivas y proponerles procedimientos y/o cuidados éticamente aceptables”
					sup (1)
					| ; es decir, es una re significación del principio de la bioética: “primero no hacer daño”, que pone el énfasis en los perjuicios que podrían tener las actuaciones médicas en el campo de lo preventivo, lo diagnóstico y lo terapéutico; abogando porque toda intervención de los servicios de salud sea necesaria, segura y beneficiosa para quien la recibe. Para este capítulo se van a abordar cuestiones atinentes al sobrediagnóstico y sobretratamiento del asma.
				
				div#legal-mod-04
				
				div.progres
					div.span12
						h2 Módulo 4 / <span>Progreso</span>
						
				div
					div.span12#progreso10
					
				div.material-modulo.wow.fadeInUp
					div#material04
					ul.pager
						li.previous.disabled
							a(href='#') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=292422') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			