include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod4-1
								
				h2 Lecturas obligatorias

				ul
					li Weinberger M, Abu-Hasan M. Pseudoasma. Cuando la tos, las sibilancias y la disnea no significan asma. Pediatr (Ed esp) [Internet]. 2007;64(4):225–33. Disponible en: 
						a(href="http://www.elsevier.es/es-revista-pediatrics-10-articulo-pseudoasma-cuando-tos-las-sibilancias-13112840" target="_blank") http://www.elsevier.es/es-revista-pediatrics-10-articulo-pseudoasma-cuando-tos-las-sibilancias-13112840

					li Nuñez M, Mackenney J. Asma y ejercicio. Revisión bibliográfca. Rev Chil Enf Respir [Internet]. 2015;31:27–36. Disponible en: 
						a(href="https://scielo.conicyt.cl/scielo.php?script=sci_arttext&pid=S0717-73482015000100004" target="_blank") https://scielo.conicyt.cl/scielo.php?script=sci_arttext&pid=S0717-73482015000100004

					li Korta Muruaa J, Valverde Molinaa J, Praena Crespoa M, Figuerola Muleta CR, Rodríguez Fernández O, Rueda Estebana S, et al. La educación terapéutica en el asma. An Pediatr. 20017;66(5):496–517.
								
				
				
				div.progres
					div.span12
						h2 Módulo 4 / <span>Progreso</span>
						
				div
					div.span12#progreso80
					
				div.material-modulo.wow.fadeInUp
					div#material04
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=292425') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=292427') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			