include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod4-1

				h2 Material del módulo
					
				div.banner-video.wow.fadeInUp
					div.span12
						div#video
							div.embed-container
								iframe(src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/documents/mod4/Modulo-4-Prevencion-cuaternaria.pdf" frameborder="0" allowfullscreen)
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			