include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod1-1
				
				div.banner-video.wow.fadeInUp
					div.span12
						div#video
							div.embed-container
								iframe(src="https://drive.google.com/file/d/1INMn3-ZP-Px1_nQheprHflubsJowE1uu/preview" frameborder="0" allowfullscreen)
				
				h2 Autores:
				
				p Leady Diana Bello García, Especialista en Medicina Familiar Universidad El Bosque
				p Mauricio Alberto Rodríguez Escobar.  Especialista en Medicina Familiar de la Universidad del Valle, Especialista en Epidemiologia General de la Universidad El Bosque
				
				h2 Definición
				
				p El asma se puede definir tanto por su fisiopatología como por su forma de presentación.  Desde la primera perspectiva se puede decir que es un síndrome inflamatorio crónico del tracto respiratorio, con diferentes fenotipos, que incluye la participación de células como los mastocitos, eosinófilos, linfocitos T, macrófagos, células epiteliales, células mesenquimales y diferentes mediadores inflamatorios. En la clínica se presenta con disnea, tos, sibilancias  y opresión torácica que expresan una limitación variable del flujo aéreo dado por una hiperreactividad bronquial, parcial o totalmente reversible de las vías aéreas, con hipercontractibilidad del músculo liso del tracto bronquial como respuesta exagerada a diferentes estímulos (1,2,3,4). 
				
				div.progres
					div.span12
						h2 Módulo1 / <span>Progreso</span>
						
				div
					div.span12#progreso10
					
				div.material-modulo.wow.fadeInUp
					div#material01-peru
					ul.pager
						li.previous.disabled
							a(href='#') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=307668') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			