include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod1-1
				
				h2 Epidemiología
				
				p CLos diferentes estudios que se han referido a datos epidemiológicos sobre el asma pueden haber tomado diferentes definiciones o diferentes formas de recolectar los datos de la variable asma, lo que hace difícil establecer comparaciones (27).
				
				//- Table
				table.table.table-striped
					caption Tabla 1. Prevalencia de asma a nivel mundial
					thead
						tr
							th Continente / País
							th Niños (6 – 7 años)(27) *
							th Adolescentes (13 – 14 años)(27) *
							th Adultos (18 – 45 años) (28)**
					tbody
						tr
							td Prevalencia global
							td 11,5%
							td 14,1%
							td 4,3%
						tr
							td América
							td 
							td 
							td 4,27%
						tr
							td América (Latinoamérica)
							td 17,3%
							td 15,9%
							td 
						tr
							td América (Norteamérica)
							td 19,1%
							td 21,6%
							td 
						tr
							td África
							td 10%
							td 14%
							td 3,94%
						tr
							td Australia
							td 
							td 
							td 21%
						tr
							td Asia
							td 9,5%
							td 8,8%
							td 2,24%
						tr
							td Asia (China)
							td 0,8%
							td 
							td 0,2%
						tr
							td Asia (India)
							td 
							td 2,4% 
							td 
						tr
							td Europa (Este/Oeste)
							td 8,7% / 9,6%
							td 9,7% / 14,3%
							td 5,1%
						tr
							td Mediterráneo
							td 9,4%
							td 9,3%
							td 2,93%
						tr
							td Oceanía
							td 21,7%
							td 17,3%
							td 
						tr
							td Oceanía (Nueva Zelanda)
							td 32,6%
							td 
							td 
						tr
							td(colspan='4').small   Preguntas realizadas  
								br/ * ¿Ha presentado sibilancias en los últimos 12 meses?
								br/ ** ¿Alguna vez ha sido diagnosticado con asma? 
								
								
				p La prevalencia global para adultos entre 18 y 45 años por diagnóstico médico del asma respondiendo a la pregunta ¿alguna vez ha sido diagnosticado con asma? En el mundo está en 4,3% con una amplia variabilidad mundial entre 0,2% en China hasta 21% reportada en Australia. También hay una alta variabilidad al interior de cada una de estas regiones (28). Ver tabla 1 y gráfico 1.
				p Las prevalencias en asma realizadas por los estudios International Study of Asthma and Allergies in Childhood (ISAAC) 2000 y 2002 se hizo mediante encuestas a dos grupos de edad uno entre los 6 y 7 años y otro entre los 13 y 14 años (27).
				p Para el grupo de adolescentes las prevalencias de “sibilancias en los últimos 12 meses” variaron entre 2,4% en Jodhpur (India) y 37,6% en Costa Rica mientras que en el segundo grupo la variación estuvo entre 0,8% en Tíbet (China) y 32,6% Wellington (Nueva Zelanda) (27). Ver tabla 1.
				p A Litonjua y Weiss les llama la atención la alta prevalencia en países de habla inglesa, sin que exista una explicación para esto.   También puede llamar la atención la baja prevalencia que se reporta en China (27).
				
				<div class="banner-video wow  fadeInUp ">
					<div class="span12">
						<div id="video" class="wow animated fadeInUp">
							<div class="embed-container">
								<iframe src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/charts/mod1-peru/charts.html" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				
				p La prevalencia de asma ha tenido un aumento progresivo en el mundo.  En Estados Unidos las cifras muestran una prevalencia de 3,0% en 1970, 5,5% en 1976, 8,4% en 2010 y 8,2% en 2015.   Han calculado que para el 2001 tenían 20,3 millones de personas con este diagnóstico y para el 2010 ya eran 25,7 millones, lo que equivale a un 2,9% de crecimiento anual en este periodo (30).
				p En estados Unidos entre el 2008 y el 2010 la prevalencia de asma entre los que tienen 17 años o menos fue de 9,5% mientras que lo reportado en 18 años o mayores fue de 7,7% (30). Para niños de 0 a 17 años mostró una meseta de la prevalencia ajustada de asma entre 2009 y 2012, y una disminución en 2013.  También se ha notado el aumento de la prevalencia global en países como Italia y Suecia, mientras otros países han tenido una meseta como Dinamarca y Corea (27).
				p Entre enero y marzo de 2015 la prevalencia entre niños menores de 15 años fue en negros no hispanos 17,7%, para hispanos 6,8% y blancos no hispanos 6,9%; para los mayores de 15 años fue 7,4% para las personas hispanas, 8,1% para blancos no hispanos y 9,9% para personas no hispanas negras. Según el CDC la prevalencia fue mayor en personas de raza negra o afrodescendiente (11.2%) que en personas de raza blanca (7,7%) en el 2010 (30) Esto puede estar sesgado por la condición socioeconómica menor que en general tienen la raza negra. Ver gráfico 2.
				
				<div class="banner-video wow  fadeInUp ">
					<div class="span12">
						<div id="video" class="wow animated fadeInUp">
							<div class="embed-container">
								<iframe src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/charts/mod1-peru/charts-2.html" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				
				p Los estudios han mostrado un predominio masculino en el diagnóstico de asma antes de la pubertad, pero una mayor prevalencia en mujeres en la edad adulta, así como casos más graves de asma en mujeres que en hombres. Las estadísticas de los CDC para el período 2008-2010 corroboran estos hallazgos, entre menores de 17 años o menos la prevalencia es más alta en hombres 11% que en mujeres 7,8%; por el contrario, entre quienes tenían 18 años o más la prevalencia era de 5,7% para hombres y 9,7% para mujeres (30). Ver gráfico 3.
				
				<div class="banner-video wow  fadeInUp ">
					<div class="span12">
						<div id="video" class="wow animated fadeInUp">
							<div class="embed-container">
								<iframe src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/charts/mod1-peru/charts-3.html" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				
				p Se encontraron variaciones respecto al nivel de ingreso familiar de acuerdo con el umbral federal de pobreza.  Entre el 2001 y el 2010 si este ingreso era menor del 100% la prevalencia del asma fue de 11,2%, entre el 100% y el 200% la prevalencia fue de 8,7% y en ingresos mayores del 200% el 7,3%. Sin embargo, anotan que en Australia también prevalece el asma en comunidades con desventajas económicas, pero en países en desarrollo prevalece el asma en comunidades con mejor estatus socioeconómico.   La prevalencia fue mayor en áreas urbanas 12,9% que en áreas rurales 10,6% y describen que hay estudios que muestran la tendencia del incremento en áreas urbanas (30).   
				p Litonjua y Weiss señalan que dentro de las alertas del Global Initiative for Asthma (GINA) llaman la atención al aumento concomitante de la prevalencia de la atopia y rinitis alérgica con el aumento de la prevalencia del asma y en la medida que aumenta la urbanización, sin que las diferencias entre países y regiones sean explicadas totalmente por estas causas (27). 
				p En adultos asmáticos la prevalencia de rinitis alérgica puede ser tan alta como el 80% y la sinusitis crónica con poliposis hasta en un 65%. Hasta un 40% de los pacientes con rinitis, concomitantemente presentan asma, 35% de los pacientes con apnea obstructiva del sueño (AOS) presentan asma y 57,4% de los pacientes con asma presenta AOS. Pacientes con asma tienen tres veces mayor probabilidad de tener enfermedad por reflujo gastro esofágico y el 64% de los pacientes con asma mejoran los síntomas con tratamiento para reflujo gastro esofágico (30).
				p El asma tiene un impacto importante en la salud.  Para el 2007 en Estados Unidos generó 1,75 millones de consultas de urgencias y 456.000 hospitalizaciones. Para el 2008 se perdieron 10,5 millones de días escolares y 14,2 millones de días de trabajo. El asma y las alergias son los problemas de salud más prevalentes en la infancia (30).
				
				div.progres
					div.span12
						h2 Módulo1 / <span>Progreso</span>
						
				div
					div.span12#progreso40
					
				div.material-modulo.wow.fadeInUp
					div#material01-peru
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=307668') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=307876') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			