include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod1-1
				
				h2 Fisiopatología
				
				<div class="banner-video wow  fadeInUp ">
					<div class="span8">
						<div id="video" class="wow animated fadeInUp">
							<figure class="galeria">
								<a class="example-image-link" href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/img/mod1/figura01.png" data-lightbox="image-1"><img class="example-image" src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/img/mod1/figura01.png" alt="image-1" /></a>
								</figure>
						</div>
					</div>
					<div class="span4">
						<div class="img-footer">Figura 1. Fisiopatología del Asma. Elaboración propia, tomado con base en Harrison Principios de Medicina Interna 20 Edición.</div>
					</div>
				</div>
				
				p El asma es un proceso inflamatorio crónico que condiciona la resistencia al flujo aéreo de las vías respiratorias. Intervienen varios tipos de células inflamatorias y múltiples mediadores que producen los mecanismos fisiopatológicos característicos de inflamación, obstrucción, hiperrespuesta bronquial y remodelado de la vía aérea (5).
				p En el patrón inflamatorio intervienen varios tipos de células como los mastocitos, eosinófilos activados, células natural killer y linfocitos T helper tipo 2, que liberan mediadores que ocasionan los síntomas de la enfermedad; además los neutrófilos parecen estar implicados de forma importante en niños (1,5).
				p Existen dos tipos de mecanismos que intervienen en el patrón inflamatorio (5,37):
				
				ol
					li 
						b Mecanismo inmunológico: 
						| puede estar mediado o no por IgE, las células presentadoras de antígeno presentan al alérgeno a los linfocitos Th2. Luego los linfocitos Th2 activados inducen la formación de interleucinas (IL 4, 5 y 13) y de moléculas de adhesión, y también activan a los linfocitos B que producen IgE específica. Finalmente, la IgE se une a los receptores de mastocitos, eosinófilos y basófilos que producen la sensibilización del sujeto. En exposiciones posteriores al alérgeno, este se une a la IgE específica presente en las células diana y provoca la liberación de mediadores que contribuyen a la inflamación y aparición de los síntomas (5,38).

					li 
						b Mecanismo no inmunológico: 
						| participan principalmente las células de la pared de la vía aérea, entre ellas las células epiteliales, que producen citocinas, así como las células endoteliales y fibroblastos, que producen neuropéptidos cuando las fibras nerviosas son estimuladas por irritantes. Todo ello contribuye así a la persistencia y al aumento de la respuesta inflamatoria (5,38).
						
				h3 Remodelación de las vías respiratorias:
				
				p Los pacientes asmáticos presentan cambios estructurales conocidos como: engrosamiento de la capa reticular de la membrana basal, fibrosis subepitelial, hipertrofia e hiperplasia de la musculatura lisa bronquial, proliferación y dilatación de los vasos, hiperplasia de las glándulas mucosas e hipersecreción de moco. Estos fenómenos se relacionan con la gravedad de la enfermedad y pueden ser consecuencia de una respuesta reparadora a la inflamación crónica o pueden aparecer independientemente del proceso inflamatorio (1,38).
				
				h3 Obstrucción de la vía aérea:
				
				p La alteración funcional en el asma es la obstrucción del flujo aéreo causada por una disminución del calibre de la vía aérea, en especial durante la espiración. Esta obstrucción suele ser episódica (crisis o exacerbación asmática) y parcial o completamente reversible de forma espontánea o con el tratamiento apropiado. Aunque durante una exacerbación la obstrucción puede ocurrir en cualquier nivel del árbol traqueobronquial, la vía aérea periférica (menor a 2 mm de diámetro en un adulto) parece ser el principal sitio de obstrucción (38,39).
				
				<div class="accordion" id="accordion1">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Obstrucción de la vía aérea:</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse">
							<div class="accordion-inner">
							  
								<p>En pacientes con asma grave la obstrucción puede estar presente de forma continua. A partir de esta alteración pueden surgir otras anormalidades funcionales, como aumento del trabajo respiratorio, alteración de la mecánica pulmonar y de los volúmenes pulmonares, desequilibrio de la relación ventilación/perfusión y compromiso del intercambio de gases (38,39).</p>
				
								<p>La obstrucción de la vía aérea puede deberse a los siguientes mecanismos (1,5,36,38):</p>
								
								<ul>
									<li>Contracción del músculo liso bronquial: ocurre como respuesta a múltiples mediadores y neurotransmisores con efecto broncoconstrictor responsable del estrechamiento de las vías respiratorias, el cual es reversible con medicamentos broncodilatadores.</li>
									<li>Edema de la vía aérea: debido al aumento de la extravasación microvascular en respuesta a los mediadores de la inflamación, importante durante las exacerbaciones agudas.</li>
									<li>Hipersecreción de moco: ocasiona obstrucción de la luz bronquial debido al aumento de la secreción y a exudados inflamatorios. </li>
									<li>Engrosamiento de la pared traqueobronquial: por cambios estructurales de la vía aérea llamado “remodelación”, donde se presenta fibrosis subepitelial, hipertrofia e hiperplasia del músculo liso y aumento de circulación en los vasos sanguíneos de la pared bronquial, con aumento de la permeabilidad.</li>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
					
				h3 Hiperrespuesta bronquial (HRB)
				
				p Se define como el estrechamiento de las vías respiratorias en respuesta a estímulos que son inocuos en personas sin asma. Conduce a una limitación variable al flujo aéreo y a la aparición de síntomas intermitentes (1,5). La HRB está vinculada con la inflamación y la reparación de las vías respiratorias y es reversible parcialmente con el tratamiento (1).
				
				<div class="accordion" id="accordion2">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1">Hiperrespuesta bronquial (HRB)</a>
						</div>
						<div id="collapseOne1" class="accordion-body collapse">
							<div class="accordion-inner">
							  
								<p>En el proceso intervienen varios mecanismos (1,5,38):</p>
								
								<ul>
									<li>Contracción excesiva del músculo liso de la vía respiratoria: como resultado del aumento del volumen y/o de la contractilidad de las células del músculo liso bronquial.</li>
									<li>Desacoplamiento de la contracción de la vía respiratoria: dado por los cambios inflamatorios en la pared de las vías respiratorias que pueden conducir a su estrechamiento y a una pérdida del nivel máximo de contracción cuando se inhalan sustancias broncoconstrictoras.</li>
									<li>Engrosamiento de la pared en la vía respiratoria: ocurre por edema y cambios estructurales, ocasionando el aumento del estrechamiento de la pared bronquial debido a la contracción de la musculatura de las vías respiratorias.</li>
									<li>Nervios sensoriales sensibilizados: pueden aumentar su sensibilidad por la inflamación, produciendo una broncoconstricción exagerada en respuesta a estímulos sensoriales.</li>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
							
				
				div.progres
					div.span12
						h2 Módulo1 / <span>Progreso</span>
						
				div
					div.span12#progreso60
					
				div.material-modulo.wow.fadeInUp
					div#material01-peru
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=307876') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=307623') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			