include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod1-1
				
				h2 Referencias
				
				ol
					li Naydú Acosta Ramírez y Román Vega Romero. Mapeo y Análisis de   los Modelos de Atención Primaria en Salud en los Países de América del Sur. Mapeo de la APS en Perú. [Internet]. UNASUR. Instituto Suramericano de Gobierno en Salud, 2014. Disponible en:  
						a(href='http://isags-unasur.org/wp-content/uploads/2018/06/mapeo-aps-peru.pdf' target='_blank')   http://isags-unasur.org/wp-content/uploads/2018/06/mapeo-aps-peru.pdf
					li Análisis de la Situación de Salud en el Perú. Ministerio de Salud del Perú: Dirección General de Epidemiología, 2016
					li Lazo-Gonzales, Alcalde-Rabanal J. Espinosa-Henao. El sistema de salud en Perú: situación y desafíos. Lima: Colegio Médico del Perú, REP: 2016
					li Gorriti, Gustavo. Cómo fue la cutra chalaca. [Internet]  IDL- Reporteros. Agosto, 2017. Disponibble en:  
						a(href='https://idl-reporteros.pe/como-fue-la-cutra-chalaca/' target='_blank')   https://idl-reporteros.pe/como-fue-la-cutra-chalaca/
					li Acosta Naydú & Vega Román. Mapeo Y Análisis De Los Modelos De Atención Primaria En Salud En Los Países De América Del Sur. [Internet] Río de Janeiro: Instituto Sudamericano de Gobierno en Salud. Junio 2014 [Consultado 09 Jul 2019]. Disponible en:  
						a(href='http://isags-unasur.org/wp-content/uploads/2018/06/mapeo-aps-peru.pdf' target='_blank')   http://isags-unasur.org/wp-content/uploads/2018/06/mapeo-aps-peru.pdf
					li Lossio, Jorge. La medicina peruana en los albores de la República: la visión del médico peruano Archibald Smith (1820-1860). [Internet] Lima: Pontificia Universidad Católica del Perú. Histórica (Vol. 28, Núm. 2) 2004 [Consultado 2 Jul 2019]. Disponible en:  
						a(href='http://revistas.pucp.edu.pe/index.php/historica/index' target='_blank')   http://revistas.pucp.edu.pe/index.php/historica/index
					li Asher, and Weiland, (1998), The International Study of Asthma and Allergies in Childhood (ISAAC). Clinical & Experimental Allergy, 28: 52-66
					li Asher MI, Montefort S, Björkstén B, Lai C, Strachan DP, Weiland SK, Williams H. Worldwide time trends in the prevalence of symptoms of asthma, allergic rhinoconjunctivitis, and eczema in childhood: ISAAC Phases One and Three repeat multicountry cross-sectional surveys. The Lancet. 368 (9537); 2006: 733-743,
					li Velásquez A. La Carga De Enfermedad Y Lesiones En El Perú Y Las Prioridades Del Plan Esencial De Aseguramiento Universal. Rev Peru Med Exp Salud Publica. 2009; 26(2): 222-31.
					li Oswaldo Jave et al. Asthma among universitaries. Perú. Int Journ Tub & Lung Dis, Nov 2001. Abst. Información disponible en:   
						a(href='http://www.bvsde.ops-oms.org/bvsci/e/fulltext/labor/jave.pdf' target='_blank')   http://www.bvsde.ops-oms.org/bvsci/e/fulltext/labor/jave.pdf
					li  Programa Cuídate: Iniciativa para controlar enfermedades crónicas. Rimac Seguros. Disponible en:   
						a(href='http://prevencionrimac.com/bitportal/Cms_Data/Contents/SaludDataBase/Media/articulo/novedades/enfermedades-cronicas/Infografia_Cuidate.pdf' target='_blank')   http://prevencionrimac.com/bitportal/Cms_Data/Contents/SaludDataBase/Media/articulo/novedades/enfermedades-cronicas/Infografia_Cuidate.pdf
					li Robinson CL, Baumann LM, Gilman RH, et al. The Peru Urban versus Rural Asthma (PURA) Study: methods and baseline quality control data from a cross-sectional investigation into the prevalence, severity, genetics, immunology and environmental factors affecting asthma in adolescence in Peru. BMJ Open 2012;2:e000421. doi: 10.1136/bmjopen-2011-000421
					li Convenio Marco de la OMS para el Control del Tabaco. [Internet].  Organización Mundial de la Salud, 2003. Disponible en:   
						a(href='https://www.who.int/tobacco/framework/WHO_fctc_spanish.pdf' target='_blank')   https://www.who.int/tobacco/framework/WHO_fctc_spanish.pdf

								
				
				
				div.progres
					div.span12
						h2 Módulo 1 / <span>Progreso</span>
						
				div
					div.span12#progreso100
					
				div.material-modulo.wow.fadeInUp
					div#material01-peru
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=311495') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/quiz/view.php?id=306737' target='_blank') Evaluación módulo 1
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			