include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod3-1
				
				h2 Epidemiología y carga de la enfermedad
				
				p El asma no controlada, el asma de difícil tratamiento y el asma grave, dentro de todo el espectro de la enfermedad, son las entidades que se asocian con mayor compromiso de la calidad de vida del paciente y con aumento del consumo de recursos y costos en salud, esto debido principalmente a su relación con alto riesgo de uso de esteroide sistémico, consultas a urgencias, hospitalizaciones y uso de múltiples tratamientos. (1,2,6). 

				p Estudios poblacionales han mostrado que el asma de difícil control constituye el 17% de todos los casos de asma, siendo en su gran mayoría pacientes en quienes una evaluación sistemática y multidimensional descarta el asma como causa de los síntomas, así que al controlar la enfermedad reforzando aspectos como educación y adherencia o tratando de forma adecuada las comorbilidades asociadas se encuentra que tan solo el 5% de todos los casos de asma son aquellos con asma grave, en quienes es necesario escoger tratamientos adicionales (1,2,6)

				p Si extrapolamos estas cifras a Colombia, con una prevalencia de asma de 12%, según el estudio de Dennis y cols., 928.200 pacientes con asma tendrían la categoría de difícil tratamiento y 273.000 la de asma grave (7).
				
				div.progres
					div.span12
						h2 Módulo 3 / <span>Progreso</span>
						
				div
					div.span12#progreso30
					
				div.material-modulo.wow.fadeInUp
					div#material03
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=285945') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=285922') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			