include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod3-2
				
				<div class="banner-video wow fadeInUp">
				<div class="span12">
				<div id="video">
				<div class="embed-container"><iframe src="https://drive.google.com/file/d/12cDbzBiGMEC8vZ935F19_U83hgxxGGAu/preview" allowfullscreen="allowfullscreen" frameborder="0"></iframe></div>
				</div>
				</div>
				</div>
				
				h2 Asma Aguda
				
				h3 Definición
				p La estrategia GINA de 2018 define a la exacerbación de asma como un evento agudo caracterizado por un empeoramiento de los síntomas respiratorios del paciente (disnea, sibilancias, tos con o sin expectoración y/o sensación de opresión torácica) y de la función pulmonar, más allá de la variación normal diaria, que conllevan a un cambio en la medicación que viene usando el sujeto (1). 
				p Esta definición que emplea tiempo (al menos 48 horas de duración), aumento de síntomas y uso de recursos de salud clasifica al asma aguda como severa cuando se requiere hospitalización del paciente, cuando se hace necesaria consulta a un servicio de urgencias y también cuando a pesar de no presentar ninguno de los anteriores el paciente requiere uso de esteroide sistémico; el empleo de solo inhalador de rescate categorizaría a la exacerbación como moderada (1).
				
				div.progres
					div.span12
						h2 Módulo 3 / <span>Progreso</span>
						
				div
					div.span12#progreso60
					
				div.material-modulo.wow.fadeInUp
					div#material03
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=285923') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=285925') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			