include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod3-2
				
				h2 Plan de acción
				
				p El episodio agudo de asma es un momento adecuado para establecer un plan de acción que le permita al paciente reconocer y responder frente a un nuevo empeoramiento de la enfermedad; este debe ser individualizado y debe incluir la estrategias que el paciente debe seguir en la denominada zona amarilla, el tiempo en el que el empeoramiento del asma constituye una ventana de oportunidad con el fin de evitar la presencia de una exacerbación grave (necesidad de uso de esteroide oral, consulta a urgencias u hospitalización) (1-3, 13).
				p Dicha zona amarilla o pérdida aguda del control del asma se caracteriza por un aumento de los síntomas de la enfermedad (más de dos veces al día o que no mejoran tras el empleo de medicamento de rescate en las últimas cuatro horas), incremento en el empleo de salbutamol (hasta cuatro disparos al día), disminución del PEF por debajo del 80% del predicho, u ocurrencia de síntomas nocturnos por hasta uno a tres días (13).
				p En este periodo de tiempo, que por lo general dura entre cinco a siete días, el paciente puede instituir alguna de varias estrategias que reducen la probabilidad de una exacerbación grave. Estas incluyen, cuadriplicar la dosis del esteroide inhalado por cinco a siete días, el uso de una combinación de CI/BACA a necesidad o el incremento en la terapia de rescate con CI/formoterol (13).
				
				h2 Prevención de asma aguda
				
				p Existen varias estrategias que empleadas tras un episodio de asma aguda reducen el riesgo de recurrencia y hospitalización. Estas incluyen el uso de esteroide inhalado en el paciente sin tratamiento previo o el empleo de una combinación esteroide/beta agonista de larga acción en el sujeto que venía usando previamente esteroide inhalado, la instauración de un plan de acción personalizado, la evaluación de adherencia y uso correcto del dispositivo de inhalación, el control médico a los 15 días tras la exacerbación y la vacunación contra influenza y neumococo tras el episodio agudo (1,2)
				
				div.progres
					div.span12
						h2 Módulo 3 / <span>Progreso</span>
						
				div
					div.span12#progreso90
					
				div.material-modulo.wow.fadeInUp
					div#material03
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=285926') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=292699') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			