include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod3-2
				
				h2 Referencias
				
				ul
					li Global Strategy for Asthma Management and Prevention. Global Initiative for Asthma. GINA. 2018.
						a(href='https://ginasthma.org/gina-reports/' target='_blank') https://ginasthma.org/gina-reports/.
					li Fergeson JE, Patel SS, Lockey RF. Acute asthma, prognosis, and treatment. J Allergy Clin Immunol. 2017;139:438-447.
					li Rodrigo GJ. Advances in acute asthma. Curr Opin Pulm Med. 2015;21:22-6.
					li Ramsahai JM, Hansbro PM, Wark PAB. Mechanisms and Management of Asthma Exacerbations. Am J Respir Crit Care Med. 2018. [Epub ahead of print]
					li Kann K, Long B, Koyfman A. Clinical Mimics: An Emergency Medicine-Focused Review of Asthma Mimics. J Emerg Med. 2017;53:195-201.
					li D'Amato G, Vitale C, Lanza M, Sanduzzi A, Molino A, Mormile M, Vatrella A, Bilò MB, Antonicelli L, Bresciani M, Micheletto C, Vaghi A, D'Amato M. Near fatal asthma: treatment and prevention. Eur Ann Allergy Clin Immunol. 2016;48:116-22.
					li Maselli DJ, Peters JI. Medication Regimens for Managing Acute Asthma. Respir Care. 2018;63:783-796.
					li Gottlieb M, Kuhns MJ. Do Inhaled Anticholinergic Agents in Addition to β-Agonists Improve Outcomes in Acute Asthma Exacerbations? Ann Emerg Med. 2017;70:421-422.
					li Cates CJ, Welsh EJ, Rowe BH. Holding chambers (spacers) versus nebulisers for beta-agonist treatment of acute asthma. Cochrane Database of Systematic Reviews. 2013; (9): CD000052. 
					li Rowe BH, Kirkland SW, Vandermeer B, Campbell S, Newton A, Ducharme FM, Villa-Roel C. Prioritizing Systemic Corticosteroid Treatments to Mitigate Relapse in Adults With Acute Asthma: A Systematic Review and Network Meta-analysis. Acad Emerg Med. 2017;24:371-381.
					li Sandifer JP, Jones AE. Are inhaled steroids beneficial on discharge from the emergency department for acute asthma? Ann Emerg Med. 2014;64:662-3.
					li Stojak BJ, Halajian E, Guthmann RA, Nashelsky J. Intravenous Magnesium Sulfate for Acute Asthma Exacerbations. Am Fam Physician. 2019;99:127-128.
					li Dinakar C, Oppenheimer J, Portnoy J, Bacharier LB, Li J, Kercsmar CM, Bernstein D, Blessing-Moore J, Khan D, Lang D, Nicklas R, Randolph C, Schuller D, Spector S, Tilles SA, Wallace D; Joint Task Force on Practice Parameters; Practice Parameter Workgroup; American Academy of Allergy, Asthma and Immunology; American College of Allergy, Asthma and Immunology. Management of acute loss of asthma control in the yellow zone: a practice parameter. Allergy Asthma Immunol. 2014;113:143-59.
					li Rodrigo GJ, Plaza V, Bardagí S, Castro-Rodríguez JA, de Diego A, Liñán S, et al. Guía ALERTA 2. América 
					li Latina y España: Recomendaciones para la prevencióny el Tratamiento de la exacerbación Asmática. Arch Bronconeumol. 2010; 46: s2-s20.
				
				div.progres
					div.span12
						h2 Módulo 3 / <span>Progreso</span>
						
				div
					div.span12#progreso90
					
				div.material-modulo.wow.fadeInUp
					div#material03
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=285927') Anterior
						li.next.disabled
							a(href='#') Siguiente
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			