@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('hinted-subset-HelveticaNeueLTStd-Bd.eot');
    src: url('hinted-subset-HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('hinted-subset-HelveticaNeueLTStd-Bd.woff') format('woff'),
        url('hinted-subset-HelveticaNeueLTStd-Bd.ttf') format('truetype'),
        url('hinted-subset-HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('hinted-subset-HelveticaNeueLTStd-Th.eot');
    src: url('hinted-subset-HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('hinted-subset-HelveticaNeueLTStd-Th.woff') format('woff'),
        url('hinted-subset-HelveticaNeueLTStd-Th.ttf') format('truetype'),
        url('hinted-subset-HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('hinted-subset-HelveticaNeueLTStd-UltLt.eot');
    src: url('hinted-subset-HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-HelveticaNeueLTStd-UltLt.woff2') format('woff2'),
        url('hinted-subset-HelveticaNeueLTStd-UltLt.woff') format('woff'),
        url('hinted-subset-HelveticaNeueLTStd-UltLt.ttf') format('truetype'),
        url('hinted-subset-HelveticaNeueLTStd-UltLt.svg#HelveticaNeueLTStd-UltLt') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('hinted-subset-HelveticaNeueLTStd-Md.eot');
    src: url('hinted-subset-HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('hinted-subset-HelveticaNeueLTStd-Md.woff') format('woff'),
        url('hinted-subset-HelveticaNeueLTStd-Md.ttf') format('truetype'),
        url('hinted-subset-HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('hinted-subset-HelveticaNeueLTStd-Blk.eot');
    src: url('hinted-subset-HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('hinted-subset-HelveticaNeueLTStd-Blk.woff') format('woff'),
        url('hinted-subset-HelveticaNeueLTStd-Blk.ttf') format('truetype'),
        url('hinted-subset-HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('hinted-subset-HelveticaNeueLTStd-Lt.eot');
    src: url('hinted-subset-HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('hinted-subset-HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('hinted-subset-HelveticaNeueLTStd-Lt.ttf') format('truetype'),
        url('hinted-subset-HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('hinted-subset-HelveticaNeueLTStd-Roman.eot');
    src: url('hinted-subset-HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('hinted-subset-HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('hinted-subset-HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('hinted-subset-HelveticaNeueLTStd-Roman.ttf') format('truetype'),
        url('hinted-subset-HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

