include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod0-1
				
				h2 Programa académico (Módulos)
				
				h3 Prevención primaria 
					
				div.programas_info
					div.span6
						h4 A cargo de.  
						p 
							b Mauricio Alberto Rodríguez Escobar   
							br/ Médico Familiar Universidad del Valle
							br/ Profesor asociado, director de la especialidad de medicina familiar. 
							br/ Universidad El Bosque 
							br/ 
							b Leady Diana Bello García
							br/ Médica Familiar Universidad El Bosque
					div.span6
						ol
							li Definición 
							li Etiología
							li Epidemiologia
							li Fisiopatologia
							li Prevención primaria
							
							
				h3 Prevención secundaria 
					
				div.programas_info
					div.span6
						h4 A cargo de.  
						p 
							b Mauricio Alberto Rodríguez Escobar   
							br/ Médico Familiar Universidad del Valle
							br/ Profesor asociado, director de la especialidad de medicina familiar. 
							br/ Universidad El Bosque 

							br/
							b Helen María Barreto Quintana 
							br/ Médica General Integra  Universidad de la Habana
							br/ Profesora Asistente Universidad El Bosque
							br/ Andrea del Pilar Rincón Garzón 
							br/ Médica Familiar Universidad El Bosque
					div.span6
						ol
							li Diagnóstico
							li Pruebas de función respiratoria
							li Consideraciones en el paciente pediátrico
							li Diagnóstico diferencial 
							li Clasificación
							li Tratamiento
							li Ejemplos prácticos
							
				
				h3 Prevención terciaria 
					
				div.programas_info
					div.span6
						h4 A cargo de.  
						p 
							b Carlos Andrés Celis Preciado
							br/ Unidad de Neumología, Departamento de Medicina Interna
							br/ Hospital Universitario San Ignacio
							br/ Profesor Asistente Facultad de Medicina
							br/ Pontificia Universidad Javeriana
							br/
							b Magda Pilar Barrera Silva
							br/ Médica Familiar Universidad El Bosque
					div.span6
						ul
							li Crisis asmática 
							ol
								li Definición 
								li Manejo
							li Asma de difícil control 
							ol
								li Definición
								li Alternativas de manejo
								
								
				h3 Prevención cuaternaria 
					
				div.programas_info
					div.span6
						h4 A cargo de.  
						p 
							b Catalina Ascanio Noreña
							br/ Médica Familiar Universidad El Bosque 
							br/ 
							b Carlos Andrés Celis Preciado
							br/ Unidad de Neumología, Departamento de Medicina Interna
							br/ Hospital Universitario San Ignacio
							br/ Profesor Asistente Facultad de Medicina
							br/ Pontificia Universidad Javeriana
					div.span6
						ul
							li Como no hacer daño  
							ol
								li Educación en Asma Calidad de vida 
								li Utilización de corticoides
								li Uso excesivo de beta  dos de corta acción. 
								li Grupos especiales y comorbilidades  
					
				h2 DIRIGIDO A:
				p Médicos generales y especialistas en medicina familiar. Pediatría y medicina Interna
					
				div.material-modulo.wow.fadeInUp
					//- div#material01
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=286391') Anterior
						li.next
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=286393') Siguiente

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			