include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc.mod0#pagina1

	div.container-fluid
		
		div.row-fluid
			div.span12.content-cc
			
				header
					div#menu-asma.menu-asma
					
				div.banner-interno#mod0-1
				
				h2 Desarrollo (Módulos)
				
				//- Table
				table.table.table-striped
					caption Curso virtual: Manejo del asma en atención primaria
					thead
						tr
							th Módulos
							th Actividades
							th Inicio
							th Cierre
							th %
					tbody
						tr
							td Módulo 0
							td Activo - apertura plataforma
							td 04 de marzo de 2019
							td 11 de marzo de 2019
							td 
						tr
							td(rowspan='4') Módulo 1
							td Inicio
							td 11 de marzo de 2019
							td 25 de marzo de 2019
							td 
						tr
							//- td Módulo 1
							td Revisión de contenidos
							td 11 de marzo de 2019
							td 
							td 10%
						tr
							//- td Módulo 1
							td Video conferencia
							td 
							td 20 de marzo de 2019 - miércoles 8 - 9 p.m.
							td 3%
						tr
							//- td Módulo 1
							td Evaluación
							td 20 de marzo de 2019
							td 25 de marzo de 2019
							td 12%
						tr
							td(rowspan='4') Módulo 2
							td Inicio
							td 25 de marzo de 2019
							td 15 de abril de 2019
							td 
						tr
							//- td Módulo 2
							td Revisión de contenidos
							td 25 de marzo de 2019
							td 
							td 10%
						tr
							//- td Módulo 2
							td Video conferencia
							td 
							td 10 de abril de 2019 - miércoles 8 - 9 p.m.
							td 3%
						tr
							//- td Módulo 2
							td Evaluación (Caso clínico)
							td 10 de abril de 2019
							td 15 de abril de 2019
							td 12%
						tr
							td(rowspan='4') Módulo 3
							td Inicio
							td 15 de abril de 2019
							td 29 de abril de 2019
							td 
						tr
							//- td Módulo 3
							td Revisión de contenidos
							td 15 de abril de 2019
							td 
							td 10%
						tr
							//- td Módulo 3
							td Video conferencia
							td 
							td 24 de abril de 2019
							td 3%
						tr
							//- td Módulo 3
							td Evaluación (Caso clínico)
							td 25 de abril de 2019
							td 
							td 12%
						tr
							td(rowspan='4') Módulo 4
							td Inicio
							td 29 de abril de 2019
							td 13 de mayo de 2019
							td 
						tr
							//- td Módulo 4
							td Revisión de contenidos
							td 29 de abril de 2019
							td 
							td 10%
						tr
							//- td Módulo 4
							td Video conferencia
							td 
							td 08 de mayo de 2019 - miércoles 8 - 9 p.m.
							td 3%
						tr
							//- td Módulo 4
							td Evaluación (Caso clínico)
							td 09 de mayo de 2019
							td 
							td 12%
						tr
							td(colspan='2') Semana de recuperación
							td(colspan='2') 13 al 20 de mayo de 2019
							td 
					
				div.material-modulo.wow.fadeInUp
					//- div#material01
					ul.pager
						li.previous
							a(href='https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=286392') Anterior
						li.next.disabled
							a(href='#') Siguiente

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			