// -----------------------
// accordion
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.content-cc{
		
		.accordion{
			
			max-width: 810px;
			margin: 2rem auto;
			
			.accordion-group{
				border: 0px;
				border-radius: 0px;
				margin-bottom: 0;
				margin-top: -1px;
				
				.accordion-heading{
					
					.accordion-toggle{
						
						background: $color_principal;
						border: 1px solid $color_principal;
						color: $color_white;
						font-family: $font_myr_semibold;
						
						&:hover{
							background: $color_principal;
							color: $color_white;
						}
						
						&:before{
							display: none;
						}
						
						&:after{
							content: "";
							background: url(https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/img/svg/up-white.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 11px;
							position: absolute;
							width: 1rem;
							height: 1.8rem;
						    top: 0.2rem;
						    right: 0.5rem;
						}
						
					}
					
					.accordion-toggle.collapsed{
						background: $color_white;
						border: 1px solid $color_principal;
						color: $color_text;
						font-family: $font_myr_semibold;
						
						&:hover{
							background: $color_principal;
							color: $color_white;
						}
						
						&:before{
							display: none;
						}
						
						&:after{
							content: "";
							background: url(https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/img/svg/down.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 11px;
							position: absolute;
							width: 1rem;
							height: 1.8rem;
						    top: 0.2rem;
						    right: 0.5rem;
						}
						
					}
					
				}
				
				.accordion-body{
					background: $color_white;
					
					.accordion-inner{
						display: inline-block;
						padding: 2rem;
					}
					
				}
				
			}
			
		}
		
	}
	
}