// -----------------------
// accordion
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.content-cc{
		
		.accordion{
			
			max-width: 810px;
			margin: 2rem auto;
			
			.accordion-group{
				border: 0px;
				border-radius: 0px;
				margin-bottom: 0;
				margin-top: -1px;
				
				.accordion-heading{
					
					.accordion-toggle,
					.accordion-toggle[aria-expanded="true"],
					.accordion-toggle.collapsed[aria-expanded="true"]{
						
						background: $color_white;
						border: 1px solid $color_platinum;
						color: $color_text;
						font-family: $font_myr_semibold;
						
						&:hover{
							background: $color_platinum;
							color: $color_white;
							
							&:after{
								
							}
							
						}
						
						&:before{
							display: none;
						}
						
						&:after{
							content: "Ver menos";
							//background: url(https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/img/svg/up-white.svg);
							//background-repeat: no-repeat;
							//background-position: center;
							//background-size: 11px;
							position: absolute;
							width: 6rem;
							height: 1.8rem;
						    top: 0.6rem;
						    right: 0.5rem;
						    @include Label-2 ();
						    color: $color_text;
						}
						
					}
					
					.accordion-toggle.collapsed,
					.accordion-toggle[aria-expanded="false"],
					.accordion-toggle.collapsed[aria-expanded="false"]{
						background: $color_platinum;
						border: 1px solid $color_white;
						color: $color_white;
						font-family: $font_myr_semibold;
						
						&:hover{
							background: $color_white;
							color: $color_text;
							border: 1px solid $color_platinum;
							
							 &:after{
								 color: $color_text;
							 }
							 
						}
						
						&:before{
							display: none;
						}
						
						&:after{
							content: "Ver más";
							//background: url(https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/img/svg/down.svg);
							//background-repeat: no-repeat;
							//background-position: center;
							//background-size: 11px;
							position: absolute;
							width: 6rem;
							height: 1.8rem;
						    top: 0.6rem;
						    right: 0.5rem;
						    @include Label-2 ();
						    color: $color_white;
						}
						
					}
					
				}
				
				.accordion-body{
					background: $color_white;
					
					.accordion-inner{
						display: inline-block;
						padding: 2rem;
					}
					
				}
				
				.accordion-body.show{
					height: auto;
					@include prefix(transition, height 0.35s ease, webkit moz o);
				}
				
				.accordion-body.in.collapse{
					height: 0 !important;
					@include prefix(transition, height 0.35s ease, webkit moz o);
				}
				
				.accordion-body.in.collapse.show{
					height: auto !important;
					@include prefix(transition, height 0.35s ease, webkit moz o);
				}
				
			}
			
		}
		
	}
	
}