// -----------------------
// lightbox
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.banner-video.span12{
		margin-top: 0;
		//margin-bottom: 2rem;
	}
	
	.banner-video{
		max-width: 870px;
		margin: 2rem auto;
		position: relative;
		@include display-flex;
		
		> div{
			
			a{
				display: block;
				
				&:before{
					display: none;
				}
				
				&:after{
					content: "";
					background: url(https://ubosquemoodle.unbosque.edu.co/diseno/cursos/asma-astrazenca/img/svg/zoom.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					position: absolute;
					width: 3rem;
					height: 3rem;
					top: 43%;
					right: 45%;
					pointer-events: none;
					transition: all .2s ease-in-out;
				}
				
				&:hover{
					&:after{
						@include prefix(transform, scale(1.5), webkit ms);
					}
				}
				
			}
			
			&:nth-child(2){
				//position: absolute;
				//bottom: 0;
				//right: 0;
				    align-self: flex-end;
			}
			
		}
		
		#video{
			
			img{
				width: 100%;
				height: auto;
			}
			
		}
		
		span{
			
			&:last-child{
				min-height: 0px;
			}
			
		}
		
		.img-footer{
			@include Label-2 () ;
		}
		
	}
	
}