// -----------------------
// lightbox
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.progress{
		    max-width: 710px;
			margin: auto;
		.bar{
			background: $color_lime;
			@include prefix(box-shadow, none, webkit moz);
		}
	}
	
	.progres{
		max-width: 710px;
			margin: auto;
	}
	
	.progress-striped .bar{
		background-color: $color_lime;
	}
	
}