// -----------------------
// tabs
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.content-cc{
		
		.bs-docs{
			max-width: 817px;
			margin: auto;
		}
		
		.nav-tabs{

			margin: 1.9rem 0 .5rem;
			border: none;
			
			li{
				
				list-style-type: none;
				
				a{
					border: 1px solid $color_principal;
					
					&:hover{
						border: 1px solid $color_principal;
						background: $color_white;
					}
					
					&:after{
						display: none;
					}
					
				}
				
			}
			
			li.active{
				
				a{
					background: $color_interaction;
					color: $color_white;
				}
				
			}
			
		}
		
		.tab-content{
			@include prefix(border-radius, 0px, webkit moz);
			padding: 2rem;
			border-bottom: 1px solid $color_dark_blue;
		}
		
	}
	
}