// -----------------------
// tabs
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.content-cc{
		
		.bs-docs{
			max-width: 817px;
			margin: 1rem auto;
		}
		
		ul.nav-tabs{

			margin: 1.9rem 0 0;
			padding: 0;
			border: none;
			
			li{
				
				list-style-type: none;
				padding-bottom: 0;
				
				a{
					border: 1px solid $color_principal;
					
					&:hover{
						border: 1px solid $color_principal;
						background: $color_white;
					}
					
					&:after{
						display: none;
					}
					
				}
				
			}
			
			li.active{
				
				a{
					background: $color_interaction;
					color: $color_white;
				}
				
			}
			
		}
		
		.tab-content{
			@include prefix(border-radius, 0px, webkit moz);
			border-bottom: 1px solid $color_platinum;
			border-top: 1px solid $color_platinum;
			
			.tab-pane{
				padding: 1rem;
			}
			
			.active,
			.show{
			    background: transparentize($color_platinum, 0.7);
			    height: auto;
				opacity: 1;
			}
			
		}
		
	}
	
}