// -----------------------
// tables
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.table{
		box-sizing: border-box;
		//display: inline-table;
		margin: 2rem auto;
		max-width: 860px;
		
		
		caption{
			@include Secondary-call-to-action ();
			max-width: 817px;
			margin: 0 auto 1rem;
		}
		
		thead{
			th{
				background: $color_dark_blue;
				@include Secondary-call-to-action ();
				color: $color_white;
				border-left: 1px solid $color_white;
				border-right: 1px solid $color_white;
				vertical-align: middle;
				text-align: center;
				
				&:first-child{
					border-left: 0px;
				}
				
				&:last-child{
					border-right: 0px;
				}
				
			}
		}
		
		tr{
			
			td{
				border-top: 1px solid $color_dark_blue;
				border-bottom: 1px solid $color_dark_blue;
				border-left: 1px solid $color_dark_blue;
				border-right: 1px solid $color_dark_blue;
				font-family: $font_hel_light_cond;
				line-height: initial;
				text-align: center;
				padding: 0.5rem 0.4rem;
				
				&:first-child{
					border-left: 0px;
				}
				
				&:last-child{
					border-right: 0px;
				}
				
			}
			
			&:nth-child(odd){
				
				td{
					background: transparentize($color_dark_blue, 0.8);
				}
				
			}
			
			&:last-child{
				
				td{
					border-bottom: 0px;
				}
				
			}
			
		}
		
	}
	
}