// -----------------------
// typography
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	@include Body-copy ();
	
	
	h1{
		@include Heading-1 ();
		@include max-width;
		margin-bottom: .5rem;
		
		@media (max-width: $breakpoint_3){
			font-size: 2.4em;
			line-height: 1em;
		}
	}
	
	h2{
		@include Heading-2 ();
		@include max-width;
		margin-bottom: .5rem;
		margin-top: 1rem;
		display: block;
	}
	
	h3{
		@include Heading-3 ();
		@include max-width;
		margin-bottom: .5rem;
		margin-top: 1rem;
		display: block;
	}
	
	h4{
		@include Heading-4 ();
		@include max-width;
		margin-bottom: .5rem;
		margin-top: 1rem;
	}
	
	h5{
		@include Heading-5 ();
		@include max-width;
		margin-bottom: .5rem;
		margin-top: 1rem;
	}
	
	h6{
		@include Heading-6 ();
		@include max-width;
		margin-bottom: .5rem;
		margin-top: 1rem;
	}
	
	p{
		@include Body-copy (); 
		@include max-width;
	}
	
	label-4{
		@include Label-4 ();
	}
	
	.label-text{
		@include Secondary-call-to-action ();
	}
	
	a{
		@include Secondary-call-to-action ();	
		position: relative;
		text-decoration: none;
		
		&:before{
			height: .25rem;
			bottom: -.25rem;
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			background-color: #d9338c;
			opacity: 0;
			visibility: hidden;
			@include prefix(transform, scaleX(0), webkit ms);
			transition: all .15s ease-out;
		}
		
		&:hover{
			
			&:before{
				opacity: 1;
				visibility: visible;
				@include prefix(transform, scaleX(1), webkit ms);
			}
			
		}
		
	}
	
}